/*
.custom-form {
    font-family: 'Roboto';
    width: 600px;
    margin: 30px auto 0;
    display: block;
    background: #FFF;
    padding: 10px 50px 50px;
    .form-group {
        position: relative;
        margin-bottom: 45px;
        label {
            color: #999;
            font-size: 18px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 10px;
            transition: 0.2s ease all;
            -moz-transition: 0.2s ease all;
            -webkit-transition: 0.2s ease all;
            &.fieldFocused {
                top: -20px;
                font-size: 14px;
                color: #5264AE;
            }
            &.error {
                color: red;
            }
        }
        input {
            font-size: 18px;
            padding: 10px 10px 10px 5px;
            display: block;
            width: 300px;
            border: none;
            border-bottom: 1px solid #757575;
            transition: all .1s ease-in-out;
            &:focus {
                outline: none;
                border-bottom: 0px solid #757575;
            }
            &.error {
                border-bottom: 1px solid red;
            }
        }
    }
}

.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar.error:before,
.bar.error:after {
    background: red;
}

.bar:before,
.bar:after {
    content: '';
    height: 3px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}


/!* active state *!/

input:focus ~ .bar:before,
input:focus ~ .bar:after {
    width: 50%;
}


/!* active state *!/

input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}


/!* ANIMATIONS ================ *!/

@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}
*/
