<div class="ss-w3-row ss-w3-large">
    <div class="ss-w3-third ss-w3-container ss-w3-black">
        <h2>On Black</h2>
        <p class="ss-w3-text-red">ss-w3-text-red</p>
        <p class="ss-w3-text-pink">ss-w3-text-pink</p>
        <p class="ss-w3-text-purple">ss-w3-text-purple</p>
        <p class="ss-w3-text-deep-purple">ss-w3-text-deep-purple</p>
        <p class="ss-w3-text-indigo">ss-w3-text-indigo</p>
        <p class="ss-w3-text-blue">ss-w3-text-blue</p>
        <p class="ss-w3-text-light-blue">ss-w3-text-light-blue</p>
        <p class="ss-w3-text-cyan">ss-w3-text-cyan</p>
        <p class="ss-w3-text-aqua">ss-w3-text-aqua</p>
        <p class="ss-w3-text-teal">ss-w3-text-teal</p>
        <p class="ss-w3-text-green">ss-w3-text-green</p>
        <p class="ss-w3-text-light-green">ss-w3-text-light-green</p>
        <p class="ss-w3-text-lime">ss-w3-text-lime</p>
        <p class="ss-w3-text-sand">ss-w3-text-sand</p>
        <p class="ss-w3-text-khaki">ss-w3-text-khaki</p>
        <p class="ss-w3-text-yellow">ss-w3-text-yellow</p>
        <p class="ss-w3-text-amber">ss-w3-text-amber</p>
        <p class="ss-w3-text-orange">ss-w3-text-orange</p>
        <p class="ss-w3-text-deep-orange">ss-w3-text-deep-orange</p>
        <p class="ss-w3-text-blue-gray">ss-w3-text-blue-gray</p>
        <p class="ss-w3-text-brown">ss-w3-text-brown</p>
        <p class="ss-w3-text-light-gray">ss-w3-text-light-gray</p>
        <p class="ss-w3-text-gray">ss-w3-text-gray</p>
        <p class="ss-w3-text-dark-gray">ss-w3-text-dark-gray</p>
        <p class="ss-w3-text-black">ss-w3-text-black</p>
        <p class="ss-w3-text-white">ss-w3-text-white</p>
    </div>
    <div class="ss-w3-third ss-w3-container ss-w3-gray">
        <h2>On Gray</h2>
        <p class="ss-w3-text-red">ss-w3-text-red</p>
        <p class="ss-w3-text-pink">ss-w3-text-pink</p>
        <p class="ss-w3-text-purple">ss-w3-text-purple</p>
        <p class="ss-w3-text-deep-purple">ss-w3-text-deep-purple</p>
        <p class="ss-w3-text-indigo">ss-w3-text-indigo</p>
        <p class="ss-w3-text-blue">ss-w3-text-blue</p>
        <p class="ss-w3-text-light-blue">ss-w3-text-light-blue</p>
        <p class="ss-w3-text-cyan">ss-w3-text-cyan</p>
        <p class="ss-w3-text-aqua">ss-w3-text-aqua</p>
        <p class="ss-w3-text-teal">ss-w3-text-teal</p>
        <p class="ss-w3-text-green">ss-w3-text-green</p>
        <p class="ss-w3-text-light-green">ss-w3-text-light-green</p>
        <p class="ss-w3-text-lime">ss-w3-text-lime</p>
        <p class="ss-w3-text-sand">ss-w3-text-sand</p>
        <p class="ss-w3-text-khaki">ss-w3-text-khaki</p>
        <p class="ss-w3-text-yellow">ss-w3-text-yellow</p>
        <p class="ss-w3-text-amber">ss-w3-text-amber</p>
        <p class="ss-w3-text-orange">ss-w3-text-orange</p>
        <p class="ss-w3-text-deep-orange">ss-w3-text-deep-orange</p>
        <p class="ss-w3-text-blue-gray">ss-w3-text-blue-gray</p>
        <p class="ss-w3-text-brown">ss-w3-text-brown</p>
        <p class="ss-w3-text-light-gray">ss-w3-text-light-gray</p>
        <p class="ss-w3-text-gray">ss-w3-text-gray</p>
        <p class="ss-w3-text-dark-gray">ss-w3-text-dark-gray</p>
        <p class="ss-w3-text-black">ss-w3-text-black</p>
        <p class="ss-w3-text-white">ss-w3-text-white</p>
    </div>
    <div class="ss-w3-third ss-w3-container">
        <h2>On White</h2>
        <p class="ss-w3-text-red">ss-w3-text-red</p>
        <p class="ss-w3-text-pink">ss-w3-text-pink</p>
        <p class="ss-w3-text-purple">ss-w3-text-purple</p>
        <p class="ss-w3-text-deep-purple">ss-w3-text-deep-purple</p>
        <p class="ss-w3-text-indigo">ss-w3-text-indigo</p>
        <p class="ss-w3-text-blue">ss-w3-text-blue</p>
        <p class="ss-w3-text-light-blue">ss-w3-text-light-blue</p>
        <p class="ss-w3-text-cyan">ss-w3-text-cyan</p>
        <p class="ss-w3-text-aqua">ss-w3-text-aqua</p>
        <p class="ss-w3-text-teal">ss-w3-text-teal</p>
        <p class="ss-w3-text-green">ss-w3-text-green</p>
        <p class="ss-w3-text-light-green">ss-w3-text-light-green</p>
        <p class="ss-w3-text-lime">ss-w3-text-lime</p>
        <p class="ss-w3-text-sand">ss-w3-text-sand</p>
        <p class="ss-w3-text-khaki">ss-w3-text-khaki</p>
        <p class="ss-w3-text-yellow">ss-w3-text-yellow</p>
        <p class="ss-w3-text-amber">ss-w3-text-amber</p>
        <p class="ss-w3-text-orange">ss-w3-text-orange</p>
        <p class="ss-w3-text-deep-orange">ss-w3-text-deep-orange</p>
        <p class="ss-w3-text-blue-gray">ss-w3-text-blue-gray</p>
        <p class="ss-w3-text-brown">ss-w3-text-brown</p>
        <p class="ss-w3-text-light-gray">ss-w3-text-light-gray</p>
        <p class="ss-w3-text-gray">ss-w3-text-gray</p>
        <p class="ss-w3-text-dark-gray">ss-w3-text-dark-gray</p>
        <p class="ss-w3-text-black">ss-w3-text-black</p>
        <p class="ss-w3-text-white">ss-w3-text-white</p>