<div class="container-fluid " ng-init="$ctrl.sortReverse = false">
    <div class="col-sm-4 col-sm-offset-8">
        <input type="text" class="form-control" placeholder="search here..." ng-model="$ctrl.searchInTableData">
    </div>
    <table class="table table-hover">
        <thead>
            <tr ng-repeat="row in $ctrl.tableData" ng-if="$index == 1">
                <th ng-repeat="(key , value) in row" ng-click='$ctrl.sortType = key; $ctrl.sortReverse = !$ctrl.sortReverse' ng-if="$ctrl.labels.hide.indexOf(key) === -1">
                    <span ng-class="{'fa-caret-down': $ctrl.sortReverse && $ctrl.sortType == key, 'fa-caret-up': !$ctrl.sortReverse && $ctrl.sortType == key}" class="fa"> {{$ctrl.createNameKey(key)}} </span>
                </th>
                <th ng-if="$ctrl.actionButtons.length > 0">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in $ctrl.tableData | orderBy:$ctrl.sortType:$ctrl.sortReverse | filter:$ctrl.searchInTableData" >
                <td ng-repeat="(key , value) in row" ng-if="$ctrl.labels.hide.indexOf(key) === -1">
                    {{value}}
                </td>
                <td ng-if="$ctrl.actionButtons.length > 0">
                    <sapn ng-repeat="btns in $ctrl.actionButtons">
                    	<button class="fa {{btns.class}}" ng-click="$ctrl.performAction(btns.actionName, row)"></button>
                    </sapn>
                </td>
            </tr>
        </tbody>
    </table>
</div>
